.noti_item {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    flex-direction: row;
    padding: 10px 16px;
    align-items: flex-start;
    cursor: pointer;
    position: relative;
}
.noti_item:hover {
    background-color: rgba(22, 24, 35, 0.03);
}
.noti_item .noti_avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover;
}
.noti_item .noti_body {
    padding: 0px 16px;
    max-width: 246px;
    min-width: 192px;
}
.noti_item .noti_body a {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}
.noti_item .noti_body a:hover {
    text-decoration: underline;
}
.noti_item .noti_body p {
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.noti_item .noti_body span {
    font-weight: 400;
    color: #16182380;
}
.noti_item .noti_footer button {
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    min-width: 96px;
    min-height: 28px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 10px;
}
.noti_item .noti_footer .crop_image {
    width: 42px;
    height: 56px;
    background: center center / cover no-repeat;
    border-radius: 2px;
    position: absolute;
    right: 24px;
}
